<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CA" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>
    <appender name="logFileInfo" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="info"/>
        <param name="File" value="logs/chat/Info.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="1000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="{%d{yyyy.MM.dd - HH.mm.ss}} [%-5p] %c %M:%L (%t) %m%n"/>
        </layout>
    </appender>
    <appender name="logFileWarning" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="warn"/>
        <param name="File" value="logs/chat/Warning.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="1000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="{%d{yyyy.MM.dd - HH.mm.ss}} [%-5p] %c %M:%L (%t) %m%n"/>
        </layout>
    </appender>

    <appender name="logFileError" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="error"/>
        <param name="File" value="logs/chat/Error.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="1000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="{%d{yyyy.MM.dd - HH.mm.ss}} [%-5p] %c %M:%L (%t) %m%n"/>
        </layout>
    </appender>


    <root>
        <priority value="info"/>
        <appender-ref ref="logFileInfo"/>
        <appender-ref ref="logFileWarning"/>
        <appender-ref ref="logFileError"/>
        <appender-ref ref="CA"/>
    </root>

    <!--<logger name="org.apache.catalina" additivity="false">-->
        <!--<appender-ref ref="CA"/>-->
    <!--</logger>-->

</log4j:configuration>