body, html {
    height: 100%;
    background: #63b7eb;
}

.hidden {
    display: none;
}

.header_container {

}

.body_container {

}

.header {
    height: 80px;
    background: #ffffff;
}

.header_part {
    height: 100%;
}

.header_menu_item {
    /*padding-top: 15px;*/
    height: 80px;
}

.header_menu_link {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    width: inherit;
    /*display: block;*/
    display: table;

    font-size: 16pt;
    color: #afafaf;
    padding-bottom: 5px;
}

.header_menu_link:hover {
    font-size: 16pt;
    color: #f04e23;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    border-color: #ffed48;
    padding-bottom: 0px;
}

.header_menu_link div {
    display: table-cell;
    vertical-align: middle;
}

#slogan_bloc {
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/
}

#slogan_bloc #slogan_text {
    position: absolute;
    top: 145px;
    height: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    font-size: 20pt;
    color: #ffffff;
}

.form_signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form_signin .form-control {
    border: 1px solid #a1a1a1;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 8px;
}

.chat_list_container {
    border-radius: 4px;
    background: #ffffff;
}

.chat_list_item {
    font-size: 12pt;
    color: #686868;
    padding: 4px;
    padding-left: 8px;
}

.chat_list_item:hover, .chat_list_item:focus {
    font-size: 12pt;
    color: #f04e23;
    padding: 3px;
    padding-left: 7px;
    border: 1px inset #bababa;
    border-radius: 4px;
}


.undecorated_link, .undecorated_link:hover, .undecorated_link:visited, .undecorated_link:active, .undecorated_link:focus {
    text-decoration: none;
}
